## 제목을 입력합니다

In [1]:
import pandas as pd
import pickle

### csv 불러오기 실습

DataFrame : 2차원 데이터 -> table

In [2]:
def getKospiData():
    kospi = pickle.load(open('kospi.sav', 'rb'))
    kospi.to_json()
    return kospi

In [6]:
help(kospi.to_json)

Help on method to_json in module pandas.core.generic:

to_json(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, orient: 'str | None' = None, date_format: 'str | None' = None, double_precision: 'int' = 10, force_ascii: 'bool_t' = True, date_unit: 'str' = 'ms', default_handler: 'Callable[[Any], JSONSerializable] | None' = None, lines: 'bool_t' = False, compression: 'CompressionOptions' = 'infer', index: 'bool_t' = True, indent: 'int | None' = None, storage_options: 'StorageOptions' = None, mode: "Literal['a', 'w']" = 'w') -> 'str | None' method of pandas.core.frame.DataFrame instance
    Convert the object to a JSON string.

    Note NaN's and None will be converted to null and datetime objects
    will be converted to UNIX timestamps.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string.
    orient : str
        Indication of expected JSON string format.

        * Series:

            - default is 'index'
            - allowed values are: {'split', 'records', 'index', 'table'}.

        * DataFrame:

            - default is 'columns'
            - allowed values are: {'split', 'records', 'index', 'columns',
              'values', 'table'}.

        * The format of the JSON string:

            - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
              'data' -> [values]}
            - 'records' : list like [{column -> value}, ... , {column -> value}]
            - 'index' : dict like {index -> {column -> value}}
            - 'columns' : dict like {column -> {index -> value}}
            - 'values' : just the values array
            - 'table' : dict like {'schema': {schema}, 'data': {data}}

            Describing the data, where data component is like ``orient='records'``.

    date_format : {None, 'epoch', 'iso'}
        Type of date conversion. 'epoch' = epoch milliseconds,
        'iso' = ISO8601. The default depends on the `orient`. For
        ``orient='table'``, the default is 'iso'. For all other orients,
        the default is 'epoch'.
    double_precision : int, default 10
        The number of decimal places to use when encoding
        floating point values.
    force_ascii : bool, default True
        Force encoded string to be ASCII.
    date_unit : str, default 'ms' (milliseconds)
        The time unit to encode to, governs timestamp and ISO8601
        precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
        microsecond, and nanosecond respectively.
    default_handler : callable, default None
        Handler to call if object cannot otherwise be converted to a
        suitable format for JSON. Should receive a single argument which is
        the object to convert and return a serialisable object.
    lines : bool, default False
        If 'orient' is 'records' write out line-delimited json format. Will
        throw ValueError if incorrect 'orient' since others are not
        list-like.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    index : bool, default True
        Whether to include the index values in the JSON string. Not
        including the index (``index=False``) is only supported when
        orient is 'split' or 'table'.
    indent : int, optional
       Length of whitespace used to indent each record.

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    mode : str, default 'w' (writing)
        Specify the IO mode for output when supplying a path_or_buf.
        Accepted args are 'w' (writing) and 'a' (append) only.
        mode='a' is only supported when lines is True and orient is 'records'.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting json format as a
        string. Otherwise returns None.

    See Also
    --------
    read_json : Convert a JSON string to pandas object.

    Notes
    -----
    The behavior of ``indent=0`` varies from the stdlib, which does not
    indent the output but does insert newlines. Currently, ``indent=0``
    and the default ``indent=None`` are equivalent in pandas, though this
    may change in a future release.

    ``orient='table'`` contains a 'pandas_version' field under 'schema'.
    This stores the version of `pandas` used in the latest revision of the
    schema.

    Examples
    --------
    >>> from json import loads, dumps
    >>> df = pd.DataFrame(
    ...     [["a", "b"], ["c", "d"]],
    ...     index=["row 1", "row 2"],
    ...     columns=["col 1", "col 2"],
    ... )

    >>> result = df.to_json(orient="split")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "columns": [
            "col 1",
            "col 2"
        ],
        "index": [
            "row 1",
            "row 2"
        ],
        "data": [
            [
                "a",
                "b"
            ],
            [
                "c",
                "d"
            ]
        ]
    }

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> result = df.to_json(orient="records")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    [
        {
            "col 1": "a",
            "col 2": "b"
        },
        {
            "col 1": "c",
            "col 2": "d"
        }
    ]

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> result = df.to_json(orient="index")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "row 1": {
            "col 1": "a",
            "col 2": "b"
        },
        "row 2": {
            "col 1": "c",
            "col 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'columns'`` formatted JSON:

    >>> result = df.to_json(orient="columns")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "col 1": {
            "row 1": "a",
            "row 2": "c"
        },
        "col 2": {
            "row 1": "b",
            "row 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'values'`` formatted JSON:

    >>> result = df.to_json(orient="values")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    [
        [
            "a",
            "b"
        ],
        [
            "c",
            "d"
        ]
    ]

    Encoding with Table Schema:

    >>> result = df.to_json(orient="table")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "schema": {
            "fields": [
                {
                    "name": "index",
                    "type": "string"
                },
                {
                    "name": "col 1",
                    "type": "string"
                },
                {
                    "name": "col 2",
                    "type": "string"
                }
            ],
            "primaryKey": [
                "index"
            ],
            "pandas_version": "1.4.0"
        },
        "data": [
            {
                "index": "row 1",
                "col 1": "a",
                "col 2": "b"
            },
            {
                "index": "row 2",
                "col 1": "c",
                "col 2": "d"
            }
        ]
    }

In [34]:
today_date = "20230711"
updateLabelEncoder(today_date)
[score, r_price, r_updown, predict] = preprocessingNewData(today_date)

In [35]:
score = scoreYesterday("20230711")
predict = predictToday("20230710")

In [43]:
score[(score['s_date']=='2023-07-10') & (score['predict'] == 1)]

,isin,s_date,close,p_price,r_price,p_rate,r_rate,predict,correct,error
75,001230,2023-07-10,17440,17447,18820.0,0.04,7.91,1,1,7.3
202,003580,2023-07-10,4480,4489,4530.0,0.2,1.12,1,1,0.91
238,004450,2023-07-10,38300,38304,36500.0,0.01,-4.7,1,0,4.94
299,005880,2023-07-10,1904,1907,1892.0,0.16,-0.63,1,0,0.79
300,005930,2023-07-10,69500,69565,71500.0,0.09,2.88,1,1,2.71
353,007700,2023-07-10,18700,18702,19120.0,0.01,2.25,1,1,2.19
384,009190,2023-07-10,3610,3611,3705.0,0.03,2.63,1,1,2.54
388,009290,2023-07-10,6310,6318,6350.0,0.13,0.63,1,1,0.5
394,009440,2023-07-10,3580,3588,3595.0,0.22,0.42,1,1,0.19
432,011150,2023-07-10,3250,3259,3305.0,0.28,1.69,1,1,1.39
435,011200,2023-07-10,18310,18319,18100.0,0.05,-1.15,1,0,1.21
452,012030,2023-07-10,1967,1969,2055.0,0.1,4.47,1,1,4.18
560,025530,2023-07-10,4505,4516,4580.0,0.24,1.66,1,1,1.4
730,092220,2023-07-10,2030,2032,2050.0,0.1,0.99,1,1,0.88
752,100840,2023-07-10,22600,22608,23200.0,0.04,2.65,1,1,2.55

In [44]:
score

,isin,s_date,close,p_price,r_price,p_rate,r_rate,predict,correct,error
0,000020,2023-07-07,10100,10098,9840.0,-0.02,-2.57,0,1,2.62
1,000040,2023-07-07,554,560,558.0,1.08,0.72,0,0,0.36
2,000050,2023-07-07,9840,9860,9470.0,0.2,-3.76,0,1,4.12
3,000070,2023-07-07,71000,70960,70100.0,-0.06,-1.27,0,1,1.23
4,000075,2023-07-07,53100,53049,53500.0,-0.1,0.75,0,0,0.84
...,...,...,...,...,...,...,...,...,...,...
948,457190,2023-07-10,297000,296738,315000.0,-0.09,6.06,0,0,5.8
949,460850,2023-07-10,9980,9984,10060.0,0.04,0.8,0,0,0.76
950,460860,2023-07-10,9740,9735,9770.0,-0.05,0.31,0,0,0.36
951,900140,2023-07-10,2490,2512,2620.0,0.88,5.22,0,0,4.12
952,950210,2023-07-10,8760,8757,9000.0,-0.03,2.74,0,0,2.7

In [42]:
score = pd.concat([pd.read_csv("predictTableSample.csv", dtype=(str)), score])

In [41]:
preidctSample.to_csv("predictTableSample.csv", sep=",", na_rep="null", index=False)

In [40]:
preidctSample = pd.concat([score, predict])
preidctSample

,isin,s_date,close,p_price,r_price,p_rate,r_rate,predict,correct,error
0,000020,2023-07-07,10100,10098,9840.0,-0.02,-2.57,0,1,2.62
1,000040,2023-07-07,554,560,558.0,1.08,0.72,0,0,0.36
2,000050,2023-07-07,9840,9860,9470.0,0.2,-3.76,0,1,4.12
3,000070,2023-07-07,71000,70960,70100.0,-0.06,-1.27,0,1,1.23
4,000075,2023-07-07,53100,53049,53500.0,-0.1,0.75,0,0,0.84
...,...,...,...,...,...,...,...,...,...,...
948,457190,2023-07-11,315000,314856,NaN,-0.05,NaN,0,NaN,NaN
949,460850,2023-07-11,10060,10075,NaN,0.15,NaN,0,NaN,NaN
950,460860,2023-07-11,9770,9781,NaN,0.11,NaN,0,NaN,NaN
951,900140,2023-07-11,2620,2653,NaN,1.26,NaN,0,NaN,NaN
952,950210,2023-07-11,9000,9011,NaN,0.12,NaN,0,NaN,NaN

In [15]:
predict

       isin      s_date   close  p_price  p_rate  predict
0    000020  2023-07-11    9930     9940    0.10        0
1    000040  2023-07-11     557      579    3.95        0
2    000050  2023-07-11    9510     9530    0.21        0
3    000070  2023-07-11   70400    70379   -0.03        0
4    000075  2023-07-11   53500    53483   -0.03        0
..      ...         ...     ...      ...     ...      ...
948  457190  2023-07-11  315000   314856   -0.05        0
949  460850  2023-07-11   10060    10075    0.15        0
950  460860  2023-07-11    9770     9781    0.11        0
951  900140  2023-07-11    2620     2653    1.26        0
952  950210  2023-07-11    9000     9011    0.12        0

[953 rows x 6 columns]

In [27]:
predict[predict['predict'] == 1].sort_values('p_rate')

       isin      s_date   close  p_price  p_rate  predict
41   000660  2023-07-11  113400   113408    0.01        1
458  012320  2023-07-11   88300    88312    0.01        1
60   000995  2023-07-11   26050    26055    0.02        1
241  004545  2023-07-11   14520    14526    0.04        1
251  004835  2023-07-11    5110     5112    0.04        1
204  003620  2023-07-11    8620     8624    0.05        1
669  069460  2023-07-11    1340     1341    0.07        1
101  001570  2023-07-11  105900   106007    0.10        1
288  005720  2023-07-11    4325     4330    0.12        1
300  005930  2023-07-11   71500    71594    0.13        1
931  395400  2023-07-11    4925     4934    0.18        1
318  006345  2023-07-11    2385     2391    0.25        1